 body{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(56, 48, 48);
 }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60px;
    background-color: white;
    margin: 4px 4px;
    border-radius: 20px;
}

.search{
    
    display: flex;
    position: relative;
   /* justify-content: center; */
   text-align: center;
   margin-top: 20px;
   gap: 10px;
}

.search input{
    flex-grow:1;
    background: transparent;
    border-color: white;
    border-radius: 10px;
    height: 40px;
    padding: 4px;
    margin: 4px;
    font-size:20px;
    color: white;
    text-align: center;
    
    
    
    
}
.Fi-Search{
    color: white;
    font-size: 24px;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    
    

}


